<footer class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="post-date"><a href="{{ site.github.url }}/">{{ site.data.settings.title }} . {{ site.data.settings.tagline }}</a></div>
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="رخصة المشاع الابداعي" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">ربيع العلم</span> مرخّص بموجب <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">رخصة المشاع الإبداعي نَسب المُصنَّف 4.0 دولي</a>.
</footer>
